.DS_Store
node_modules/
dist/
.idea/
npm-debug.log*
yarn.lock
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
