@import "vars";

.m-check-box {
  height: 11px;
  @include flex_h;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  > .icon {
    margin: 2pt;
    color: $theme-color;
    cursor: pointer;
  }
}
